# **************************************************************************** #
#                                   COMPILED                                   #
# **************************************************************************** #

# Object files
*.o
*.a
Objs/

# Library
libsriee.a

# **************************************************************************** #
#                                   TESTING                                    #
# **************************************************************************** #

# Test executables
test
a.out
*.out
main
test_*

# Test files
*.txt
!README.md

# **************************************************************************** #
#                                   SYSTEM                                     #
# **************************************************************************** #

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~
.directory

# **************************************************************************** #
#                                   IDE/EDITOR                                 #
# **************************************************************************** #

# VSCode
.vscode/
*.code-workspace

# Vim
*.swp
*.swo
*~
.*.sw?

# Emacs
*~
\#*\#
.\#*

# JetBrains (CLion, etc.)
.idea/
cmake-build-*/

# **************************************************************************** #
#                                   OTHER                                      #
# **************************************************************************** #

# Valgrind
vgcore.*
*.log

# Core dumps
core
core.*
